.chip {
    display: inline-block;
    height: $line-height-h3;
    font-size: ($base * 1.625);
    font-weight: $font-weight-medium;
    color: $black-sec;
    line-height: $line-height-h3;
    padding: 0 $margin-sm;
    border-radius: 50px;
    background-color: $palette-grey-300;
    .avatar {
        margin: 0 $margin-base 0 (-$margin-sm);
        height: $line-height-h3;
        width: $line-height-h3;
        float: left;
        line-height: $line-height-h3;
    }

    i.close {
        cursor: pointer;
        margin-right: -($margin-base / 2);
        margin-left: ($margin-base / 2);
        font-size: 1.4em;
        vertical-align: -26%;
    }

    &.deletable:hover {
        background-color: $black-sec-solid;
        color: $white-text-solid;
    }
}

